//                               █         █    █            ▄▄▄▀▀▀▀▀▀▄▄▄        █▀▀▀▀▀▀▀▀▀▀█
//                               █        █     █          ▄▀            ▀▄      █          █
//                               █       █      █        ▄▀                ▀▄    █          █
//                               █      █       █        █                  █    █          █
//                               █     █        █       █                    █   █          █
//                               █    █         █       █                    █   █▄▄▄▄▄▄▄▄▄▄█
//                               █   █ █        █       █                    █   █      █
//                               █  █   █       █        █                  █    █       █
//                               █ █     █      █        ▀▄                ▄▀    █        █
//                               ██       █     █          ▀▄            ▄▀      █         █
//                               █         █    █▄▄▄▄▄▄▄▄    ▀▀▀▄▄▄▄▄▄▀▀▀        █          █
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define BASE   0
#define LOWER  1
#define RAISE  2
#define ADJUST 3

/ {
    behaviors {
        DBTap_dot: DBTap_dot {
            compatible = "zmk,behavior-tap-dance";
            label = "DBTAP_DOT";
            #binding-cells = <0>;
            bindings = <&kp PERIOD>, <&kp GREATER_THAN>;
        };

        DBTap_comma: DBTap_comma {
            compatible = "zmk,behavior-tap-dance";
            label = "DBTAP_COMMA";
            #binding-cells = <0>;
            bindings = <&kp COMMA>, <&kp LESS_THAN>;
        };

        DBTap_underscore: DBTap_underscore {
            compatible = "zmk,behavior-tap-dance";
            label = "DBTAP_UNDERSCORE";
            #binding-cells = <0>;
            bindings = <&kp SLASH>, <&kp QUESTION>;
        };

        DBTap_at_hash: DBTap_at_hash {
            compatible = "zmk,behavior-tap-dance";
            label = "DBTAP_AT_HASH";
            #binding-cells = <0>;
            bindings = <&kp RA(Q)>, <&kp NON_US_HASH>;
        };

        DBTap_quote: DBTap_quote {
            compatible = "zmk,behavior-tap-dance";
            label = "DBTAP_QUOTE";
            #binding-cells = <0>;
            bindings = <&kp PIPE>, <&kp LS(NUMBER_2)>;
        };

        lonyPress: lonyPress {
            compatible = "zmk,behavior-hold-tap";
            label = "LONYPRESS";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
        };

        DBTap_excl: DBTap_excl {
            compatible = "zmk,behavior-tap-dance";
            label = "DBTAP_EXCL";
            #binding-cells = <0>;
            bindings = <&kp UNDERSCORE>, <&kp EXCL>;
        };

        DBTap_Z: DBTap_Z {
            compatible = "zmk,behavior-tap-dance";
            label = "DBTAP_Z";
            #binding-cells = <0>;
            bindings = <&kp Y>, <&kp MINUS>;
        };

        DBTap_up: DBTap_up {
            compatible = "zmk,behavior-tap-dance";
            label = "DBTAP_UP";
            #binding-cells = <0>;
            bindings = <&kp LEFT_ARROW>, <&kp UP_ARROW>;
        };

        DBTap_down: DBTap_down {
            compatible = "zmk,behavior-tap-dance";
            label = "DBTAP_DOWN";
            #binding-cells = <0>;
            bindings = <&kp RIGHT_ARROW>, <&kp DOWN_ARROW>;
        };

        DBTap_and: DBTap_and {
            compatible = "zmk,behavior-tap-dance";
            label = "DBTAP_AND";
            #binding-cells = <0>;
            bindings = <&kp LS(NUMBER_6)>, <&kp LS(N5)>;
        };

        DBTap_brackets: DBTap_brackets {
            compatible = "zmk,behavior-tap-dance";
            label = "DBTAP_BRACKETS";
            #binding-cells = <0>;
            bindings = <&kp LS(N8)>, <&kp LS(N9)>;
        };

        DBTap_Slash: DBTap_Slash {
            compatible = "zmk,behavior-tap-dance";
            label = "DBTAP_SLASH";
            #binding-cells = <0>;
            bindings = <&kp AMPERSAND>, <&kp RA(MINUS)>;
        };

        DBTap_smallerLARGER: DBTap_smallerLARGER {
            compatible = "zmk,behavior-tap-dance";
            label = "DBTAP_SMALLERLARGER";
            #binding-cells = <0>;
            bindings = <&kp LS(NON_US_BSLH)>, <&kp NON_US_BSLH>;
        };
    };

    combos {
        compatible = "zmk,combos";

        oe {
            bindings = <&kp SEMICOLON>;
            key-positions = <2 13>;
        };

        ae {
            bindings = <&kp SINGLE_QUOTE>;
            key-positions = <14 13>;
        };

        ue {
            bindings = <&kp LEFT_BRACKET>;
            key-positions = <3 13>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

        base_layer {
            // ┌───────────────────────────────────────────────────────────┐

            label = "BASE";

            // └───────────────────────────────────────────────────────────┘
            /*           ┌─────────┬─────────┬─────────┬─────────┬─────────┐                    ┌─────────┬─────────┬─────────┬─────────┬─────────┐
             │    Q    │    W    │    F    │    P    │    G    │                    │    J    │    L    │    U    │    Y    │    ;    │   
   ┌─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤                    ├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┐
   │   TAB   │    A    │    R    │    S    │    T    │    D    │                    │    H    │    N    │    E    │    I    │    O    │    "    │
   ├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤╭────────╮╭────────╮├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤
   │   DEL   │    Z    │    X    │    C    │    V    │    B    ││  MUTE  ││PLY/PSE ││    K    │    M    │    ,    │    .    │    /    │    \    │
   └─────────┴─────────┴─────────┼─────────┼─────────┼─────────┼╰────────╯╰────────╯┼─────────┼─────────┼─────────┼─────────┴─────────┴─────────┘
                                 │  CTRL   │  LOWER  │  SPACE  │   ALT   ││ CMD/WIN │  ENTER  │  RAISE  │  BSPCE  │  
                                 └─────────┴─────────┴─────────┴─────────┘└─────────┴─────────┴─────────┴─────────┘ */

            bindings = <
                      &kp B  &kp Z  &kp O        &kp U        &DBTap_at_hash                                      &DBTap_quote  &kp L           &kp D            &kp W  &kp V
&lonyPress LG(L) ESC  &kp C  &kp I  &kp E        &kp A        &DBTap_comma                                        &DBTap_dot    &kp H           &kp T            &kp S  &kp N  &DBTap_Z
&kp LCTRL             &kp G  &kp X  &kp J        &kp K        &DBTap_underscore     &none            &none        &DBTap_excl   &kp R           &kp M            &kp F  &kp P  &kp Q
                                    &kp LA(TAB)  &kp LG(TAB)  &mt LEFT_SHIFT SPACE  &lt 1 BACKSPACE  &lt 2 ENTER  &kp RETURN    &kp LEFT_ARROW  &kp RIGHT_ARROW
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        // ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

        lower_layer {
            // ┌───────────────────────────────────────────────────────────┐

            label = "LOWER";

            // └───────────────────────────────────────────────────────────┘
            /*           ┌─────────┬─────────┬─────────┬─────────┬─────────┐                    ┌─────────┬─────────┬─────────┬─────────┬─────────┐
             │         │         │    UP   │         │    {    │                    │    }    │    7    │    8    │    9    │    +    │
   ┌─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤                    ├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┐
   │         │         │   LEFT  │  DOWN   │  RIGHT  │    [    │                    │    ]    │    4    │    5    │    6    │    -    │         │
   ├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤╭────────╮╭────────╮├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤
   │         │         │   P UP  │ C LOCK  │ P DOWN  │    (    ││        ││        ││    )    │    1    │    2    │    3    │    *    │         │
   └─────────┴─────────┴─────────┼─────────┼─────────┼─────────┼╰────────╯╰────────╯┼─────────┼─────────┼─────────┼─────────┴─────────┴─────────┘
                                 │         │         │         │         ││         │         │    0    │         │  
                                 └─────────┴─────────┴─────────┴─────────┘└─────────┴─────────┴─────────┴─────────┘ */

            bindings = <
         &kp LC(F5)  &kp LC(T)   &kp LC(W)   &kp PG_UP   &none                    &trans  &kp N7  &kp N8  &kp N9  &kp KP_PLUS
&kp TAB  &none       &kp LG(E)   &kp LC(V)   &kp LC(C)   &trans                   &trans  &kp N4  &kp N5  &kp N6  &kp KP_MINUS     &kp AMPERSAND
&trans   &kp LG(N1)  &kp LG(N2)  &kp LG(N3)  &kp LG(N4)  &trans  &none   &none    &kp N0  &kp N1  &kp N2  &kp N3  &kp KP_MULTIPLY  &kp RIGHT_PARENTHESIS
                                 &trans      &trans      &trans  &trans  &kp DEL  &trans  &trans  &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        // ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

        raise_layer {
            // ┌───────────────────────────────────────────────────────────┐

            label = "RAISE";

            // └───────────────────────────────────────────────────────────┘
            /*           ┌─────────┬─────────┬─────────┬─────────┬─────────┐                    ┌─────────┬─────────┬─────────┬─────────┬─────────┐
             │         │         │         │         │         │                    │         │         │    Ü    │         │         │
   ┌─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤                    ├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┐
   │    Ä    │         │    ß    │         │         │         │                    │         │         │         │         │    Ö    │         │
   ├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤╭────────╮╭────────╮├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤
   │         │         │         │         │         │         ││        ││        ││         │         │         │         │         │         │
   └─────────┴─────────┴─────────┼─────────┼─────────┼─────────┼╰────────╯╰────────╯┼─────────┼─────────┼─────────┼─────────┴─────────┴─────────┘
                                 │ ADJUST  │         │         │         ││         │         │         │         │  
                                 └─────────┴─────────┴─────────┴─────────┘└─────────┴─────────┴─────────┴─────────┘ */

            bindings = <
        &none  &none  &none      &none   &none                    &DBTap_brackets  &DBTap_Slash    &DBTap_and      &DBTap_smallerLARGER  &kp LG(LS(S))
&none   &none  &none  &none      &none   &none                    &trans           &none           &kp UP_ARROW    &none                 &none          &kp DEL
&trans  &none  &none  &none      &none   &none   &none    &none   &trans           &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW       &none          &none
                      &kp K_PWR  &trans  &trans  &kp DEL  &trans  &trans           &trans          &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        // ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄
    };
};
